*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#0a0a0a;
  color:white;
  overflow-x:hidden;
  overflow-y:auto;
  position:relative;
}

/* GRID */

.grid-bg{

  background-image:
  linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);

  background-size:50px 50px;
}

/* GLASS */

.glass{

  background:rgba(255,255,255,0.03);

  backdrop-filter:blur(18px);
  -webkit-backdrop-filter:blur(18px);

  box-shadow:
  0 4px 20px rgba(255,255,255,0.03);

}

/* TEXT GRADIENT */

.gradient-text{

  background:linear-gradient(to right,#ffffff,#9ca3af);

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

}

/* BLUR BALL */

.blur-ball{

  position:absolute;

  width:220px;
  height:220px;

  border-radius:50%;

  filter:blur(120px);

  opacity:0.08;

  z-index:-1;

}

/* CARD HOVER */

.card-hover{
  transition:0.3s;
}

.card-hover:hover{

  transform:translateY(-5px);

  border-color:rgba(255,255,255,0.12);

}

/* SCROLLBAR */

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#27272a;
  border-radius:20px;
}